{% extends base_template %}

{% block body_class %}short-answer-quiz{% endblock %}

{% block content %}
    <header>
        <h1>{{ title }}{% if question_number %}<span class="question-number">question {{ question_number }}/{{ num_questions }}</span>{% endif %}</h1>
        {% if description %}<div class="description">{{ description }}</div>{% endif %}
    </header>

    <form method="post" action=".">
        {% csrf_token %}
        <input type="hidden" name="question_number" value="{{ question_number }}">
        <div class="question" style="font-size: 24pt;">{{ question.0 }}</div>
        {% for f in question.1 %}
            <input type="text" name="answer_{{ forloop.counter0 }}" style="font-size: 24pt;" autocomplete="off" placeholder="{{ f.0 }}"><br>
        {% endfor %}
        <button class="btn btn-default">Submit</button>
    </form>
{% endblock %}
