{% extends base_template %}

{% load bootstrap %}

{% block body_class %}survey{% endblock %}

{% block content %}
    <header>
        <h1>{{ title }}{% if page_number %}<span class="page-number">page {{ page_number }}/{{ num_pages }}</span>{% endif %}</h1>
        {% if description %}<div class="description">{{ description }}</div>{% endif %}
    </header>

    {% if help_text %}
        <div class="help_text">
            {{ help_text|safe }}
        </div>
    {% endif %}

    <form method="post" action=".">
        {% csrf_token %}
        {{ form|bootstrap }}
        <div class="form-actions">
            <button class="btn btn-primary">Save</button>
            <a href="{{ cancel_url }}" class="btn btn-default">Cancel</a>
        </div>
    </form>
{% endblock %}
