{% extends base_template %}

{% block body_class %}two-choice-quiz{% endblock %}

{% block content %}
    <header>
        <h1>{{ title }} <span class="question-number">COMPLETED</span></h1>
        {% if description %}<div class="description">{{ description }}</div>{% endif %}
    </header>

    <table class="results-table">
        {% for question,answer in results %}
            <tr>
                <td class="question">{% include answer_template with question=question.0 %}</td>
                <td class="answer">{{ question.2 }}</td>
                <td>
                    {% if answer == question.2 %}
                        <span class="correct">Correct!</span>
                    {% elif answer == None %}
                        <span class="incorrect">Didn't know</span>
                    {% else %}
                        <span class="incorrect">You said {{ answer }}</span>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
    </table>

    <form action="{% url 'activity_start' activity_key %}" method="post">
        {% csrf_token %}
        <div class="activity-return">
            <button class="btn btn-primary">Repeat Activity</button>
            <a href="{{ cancel_url }}" class="btn btn-default">Return to Activity List</a>
        </div>
    </form>
{% endblock %}
