{% extends base_template %}

{% block body_class %}two-choice-quiz{% endblock %}

{% block content %}
    <header>
        <h1>{{ title }}{% if question_number %}<span class="question-number">question {{ question_number }}/{{ num_questions }}</span>{% endif %}</h1>
        {% if description %}<div class="description">{{ description }}</div>{% endif %}
    </header>

    <div class="row">
        <div class="col-md-2">
            {% if previous_question %}
                <div class="result">
                    {% if previous_answer == previous_question.2 %}
                        <span class="correct">Correct!</span>
                        <br>
                        {% include answer_template with question=previous_question.0 %}
                        is
                        {{ previous_question.2 }}
                    {% else %}
                        <span class="incorrect">Incorrect</span>
                        <br>
                        {% include answer_template with question=previous_question.0 %}
                        is
                        {{ previous_question.2 }}
                        <br>
                        <span class="incorrect">(you said {{ previous_answer }})</span>
                    {% endif %}
                </div>
            {% endif %}
        </div>

        <div class="col-md-4">
            <form method="post" action=".">
                {% csrf_token %}
                <input type="hidden" name="question_number" value="{{ question_number }}">
                <div class="question">{{ question.0 }}</div>
                <div class="answers">
                    <button class="btn btn-default" name="answer" value="left">{{ question.1.0 }}</button>
                    <button class="btn btn-default" name="answer" value="right">{{ question.1.1 }}</button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
